image: docker:20.10.16

services:
  - docker:20.10.16-dind

variables:
  DOCKER_TLS_CERTDIR: ''
  IMAGE_NAME: marinaandersen1371/marina_project3
  IMAGE_TAG: '1.0'

stages:
  - test
  - build
  - deploy

test:
  stage: test
  image: python:3.9-slim-bookworm
  before_script:
    - apt-get update
    - apt-get install -y make
  script:
    - make test

build:
  stage: build
  before_script:
    - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_TOKEN"
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  only:
    - main

deploy:
  stage: deploy
  image: alpine:3.19
  before_script:
    - apk add --no-cache curl bash
    - curl -L https://fly.io/install.sh | sh
    - export FLYCTL_INSTALL="/root/.fly"
    - export PATH="$FLYCTL_INSTALL/bin:$PATH"
    - flyctl auth token "$FLY_API_TOKEN"
    # Login to Docker Hub so Fly can pull the private image
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USER" --password-stdin
  script:
    - flyctl deploy --image $IMAGE_NAME:$IMAGE_TAG --remote-only
  only:
    - main
