image: docker:20.10.16

services:
  - docker:20.10.16-dind

variables:
  DOCKER_TLS_CERTDIR: ''
  IMAGE_NAME: marinaandersen1371/marina_project3
  IMAGE_TAG: '1.0'

stages:
  - test
  - build
  - deploy

test:
  stage: test
  image: python:3.9-slim-bookworm
  before_script:
    - apt-get update
    - apt-get install -y make
  script:
    - make test

build:
  stage: build
  before_script:
    - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_TOKEN"
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  only:
    - main

deploy:
  stage: deploy
  image: flyio/flyctl:latest
  script:
    - flyctl deploy --remote-only
  only:
    - main
